{% extends 'style.html' %}
{% block content %}

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            max-width: 90%;
            width: 30rem;
            margin: 0 1rem;
        }
        .container h2 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        form {
            display: grid;
            font-size: 1.3rem;
        }
        form label {
            margin-top: 1rem;
        }
        form input {
            height: 2rem;
            border: none;
            border-bottom: 2px solid #ccc;
            outline: none;
            padding: 0.5rem;
            font-size: 1rem;
            transition: border-bottom-color 0.3s;
        }
        form input:focus {
            border-bottom-color: #5f37e0;
        }
        form button {
            height: 3rem;
            margin-top: 2rem;
            font-size: 1.3rem;
            border: none;
            border-radius: 0.5rem;
            outline: none;
            background: #5f37e0;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        form button:hover {
            background: #4a2db3;
        }
        .btn {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
        }
        .btn a {
            width: 48%;
        }
        .btn button {
            font-size: 1rem;
            border: none;
            height: 2.5rem;
            width: 100%;
            border-radius: 0.5rem;
            outline: none;
            background: #5f37e0;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .btn button:hover {
            background: #4a2db3;
        }
    </style>
    <div class="container">
        <h2>User Login</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
        </form>
        <div class="btn">
            <a href="{% url 'index_dashboard' %}"><button>Back to Home</button></a>
            <a href="{% url 'user_register' %}"><button>Register</button></a>
        </div>
    </div>
{% endblock content %}
